# Data science Tools and Ecosystem

In this notebook, Data science tools and Ecosystem are summarized.

**Objectives**

* a brief introduction to Jupyter notebook 
* a brief ntroudction to jupyter lab 
* decription on how to use jupyter notebook and jupyter lab.

**List five popular languages for Data scientists**

* Python
* SQL
* Scala
* Java 
* C++

Some of the popular languages that Data scientist use are :

Ordered List :
1. Python
2. SQL
3. Scala

Some of the commonly used libraries used by Data Scientists include:

Ordered List:
1. Tenserflow
2. Pandas
3. Matplotlib

|Data science tools|
|------------------|
|Hadoop|
|Apache spark|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

$ (5+4)*2 $

In [6]:
#This a simple arithmetic expression to mutiply then add integers.

In [7]:
(3*4)+5

17

#This will convert 200 minutes to hours by diving by 60

In [14]:
200/60

3.3333333333333335

#200 minutes equals to 3.34 hours.

## Author
Eeshwor Dahal